
{% extends 'admin/adminheaderfooter.html' %}

{% block content %}



<!-- main content start -->
<div class="main-content">

  <!-- content -->
  <div class="container-fluid content-top-gap">

    <!-- breadcrumbs -->
    <nav aria-label="breadcrumb" class="mb-4">
      <ol class="breadcrumb my-breadcrumb">
        <li class="breadcrumb-item"><a href="/adminindex/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Tables</li>
      </ol>
    </nav>
    <!-- //breadcrumbs -->

    <!-- table  -->
    <table class="table table-hover table-striped table-bordered">
                <thead>
                  <h1>User Details</h1>
                <tr>
                 <th>Sno</th>
                 <th>name</th>
                 <th>password</th>
                 <th>Email</th>
                 </tr>
                 </thead>
                 <tbody>
                 {% for x in datakey %}
                 <tr>
                 <td>{{forloop.counter}}</td>
                 <td>{{x.name}}</td>
                 <td>{{x.password}}</td>
                 <td>{{x.email}}</td>  
                 </tr>
                 {% endfor %}
                 </tbody>

 
    <!-- //table -->

    <!-- table -->
    <div>

    <table class="table table-hover table-striped table-bordered">
                <thead>
                  <h1>Product Update</h1>
                <tr>
                 <th>product name</th>
                 <th>price</th>                 
                 <th>image</th>
                 <th>Update</th>
                 </tr>
                 </thead>
                 <tbody>
                 {% for x in product %}
                 <tr>    
                 <td>{{x.product_name}}</td>
                 <td>{{x.price}}</td>
                 <td><img src="{{x.img.url}}" width="50px" height="50px" ></td>
                 <td><a href="/productupdate/?adminid={{x.id}}">update</a></td>
                 </tr>
                 {% endfor %}               
                 </tbody>
                 </table>
                 </div>
 

  </div>
  <!-- //content -->

</div>
<!-- main content end-->
</section>
{% endblock %}